.miniproject {
    background-color: #7E8B91;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    box-shadow: 0px 5px 15px #5E5E5E;
    overflow: hidden;
    color: #fdf7f7;
    width: 100%;
}

.responsive-container {
    position: relative;
    width: 100%;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.centerer {
    text-align: center; /* Align center inline elements */
    font: 0/0 a; /* Hide the characters like spaces */
}

.centerer:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.centered {
    vertical-align: middle;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}

.miniproject a {
    color: #fdf7f7;
}

.miniproject .titleblock:before {
    content: ' ';
    display: block;
    height: 100%;
}


.miniproject .titleblock {
    display: block;
    vertical-align: bottom;
    height: 100%;
    width: 100%;
}

.miniproject .onhover {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.miniproject .onhover1 {
    display: none;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.miniproject:hover .onhover {
    display: block;
}

.miniproject:hover .onhover1 {
    display: block;
    opacity: 0.5;
}
