.miniprofile {
    background-color: #ffcaca;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 0px;
    padding-left: 0px;
}

.miniproject table {
    width: 100%;
    background-color: #ffcaca;
}