.miniprofile {
    width: 100%;
    left: 0px;
    background-color: #7E8B91;
    margin-right: 50px;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    color: #fdf7f7;
    max-width: 200px;
    float: left;
}

.miniprofile img {
    max-height: 80px;
    max-width: 80px;
}

.miniprofile a {
    color: #fdf7f7;
}

.miniproject .miniprofile {
    background: none;
}