.miniproject {
    background-color: #7E8B91;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    box-shadow: 0px 5px 15px #5E5E5E;
    overflow: hidden;
    color: #fdf7f7;
}

.miniproject img {
    display: block;
    width:100%;
    height:auto;
}

.miniproject table {
    width: 100%;
    background-color: #7E8B91;
}

.miniproject a {
    color: #fdf7f7;
}

.miniproject .onhover {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.miniproject .onhover1 {
    display: none;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.miniproject:hover .onhover{
    display: block;
}
.miniproject:hover .onhover1{
    display: block;
    opacity: 0.5;
}
