{{ user = getUser(project); "" }}
<a ng-href="{{getProjectUrl(project)}}">
    <div class="miniproject col-md-3">
        <img ng-src="{{project.image}}">

        <span class="onhover1"></span>
        <div class="onhover">
            {{project.description}}
            <div ng-include="'views/partials/miniprofile.html'"></div>
        </div>

        <table>
            <tr>
                <td>{{project.title}}</td>
                <td>Score: {{project.score}}</td>
            </tr>
        </table>
    </div>
    </div>
</a>
