<div class="miniproject">
    <table>
        <tr>
            <td>
                <img ng-src="{{project.image}}" width="150px">
            </td>
        </tr>
        <tr>
            <td>
                <img ng-src="{{user.avatar}}">
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            User:
                            {{user.username}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ project.score}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>{{project.title}}</td>
        </tr>
        <tr>
            <td>{{project.description}}</td>
        </tr>
    </table>
</div>