<div class="miniprofile">
    <table>
        <tr>
            <td>
                <img ng-src="{{user.avatar}}" >
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            {{user.username}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Score:
                            {{ user.score}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>