<div ng-include="'views/partials/topside.html'"></div>
<div class="mycontent">
    <div class="profile">
        <table>
            <tr>
                <td>
                    <img ng-src="{{user.avatar}}" width="150px">
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                {{user.username}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Score:
                                {{ user.score}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Github:
                                {{ user.github }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div ng-repeat="project in getUserProjects(id)">
            <div ng-include="'views/partials/miniproject.html'"></div>
        </div>
    </div>
</div>